* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: #5cdb95;
  border-bottom: 1px solid #eee;
  padding: 20px;
}

header h1 {
  color: #05386b;
}

main form {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

main form input {
  margin-top: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

main form input[type="submit"] {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #05386b;
  color: #fff;
  border-color: #05386b;
  cursor: pointer;
}

main form input[type="submit"]:hover {
  background-color: #5cdb95;
  border-color: #5cdb95;
  transition: .5s;
}

main .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .search-github-user {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

main .search-github-user hr {
  margin-bottom: 15px;
}

main .github-profile {
  border: 1px solid black;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  height: 250px;
}

main .github-profile-image {
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

main .github-profile-image img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
}

main .github-profile-review {
  width: 80%;
  padding-right: 15px;
}

main .github-profile-review table,th,tr,td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

main .github-profile-review table th, td {
  text-align: center;
}

main .github-profile-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.error-toast {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 15px;
}

.error-toast h1 {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5cdb95;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

main .github-profile-actions button {
  background-color: #05386b;
  color: #fff;
  margin-top: 15px;
  border: 1px solid #05386b;
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 4px;
}

main .github-profile-actions button:hover {
  background-color: #5cdb95;
  border-color: #5cdb95;
  transition: .5s;
}

.card {
  display: flex;
}